* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 10px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px;
}

nav img {
    width: 55px;
    border-radius: 100%;
}

nav a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    height: 200px;
    margin-top: 30px;
}

main {
    margin: 0px auto;
    margin-top: 20px;
    flex-grow: 1;
}

main form {
    display: flex;
    border: 1px black solid;
    width: 55vw;
    height: 60px;
    border-radius: 50px;
    margin-top: 20px;
}

main form img {
    margin-top: 16.5px;
    margin-left: 16.5px;
    height: 25px;
    width: 25px;
}

main form input {
    border: none;
    outline: none;
    width: 51.8vw;
    height: 58px;
    margin-left: 15px;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 1.5rem;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 85%);
    height: 10vh;
}

footer p {
    padding: 10px;
}