* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 10px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px;
}

nav img {
    width: 55px;
    border-radius: 100%;
}

nav a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    height: 160px;
    margin-top: 30px;
}

main {
    margin: 0px auto;
    margin-top: 20px;
    flex-grow: 1;
}

main form {
    display: flex;
    border: 1px rgb(215, 215, 215) solid;
    width: 55vw;
    height: 72px;
    border-radius: 50px;
    margin-top: 20px;
}

main form img {
    margin-top: 23px;
    margin-left: 16.5px;
    height: 25px;
    width: 25px;
}

main form input {
    border: none;
    outline: none;
    width: 29vw;
    height: 70px;
    margin-left: 15px;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 1.5rem;
}

.keyboard_icon {
    width: 40px;
    height: 34px;
    fill: hsl(0, 0%, 30%);
    margin: 18px 10px;
    cursor: pointer;
}

.container_chu_thich_1 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_1:hover .chu_thich_1_tam_giac_nho {
    display: block;
}

.container_chu_thich_1:hover .chu_thich_1 {
    display: block;
}

.chu_thich_1_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 2;
}

.chu_thich_1 {
    display: none;
    font-size: 18px;
    color: white;
    width: 135px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 10px 10px;
    top: 60px;
    left: -37px;
    z-index: 2;
}

.container_chu_thich_2 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_2:hover .chu_thich_2_tam_giac_nho {
    display: block;
}

.container_chu_thich_2:hover .chu_thich_2 {
    display: block;
}

.chu_thich_2_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 2;
}

.chu_thich_2 {
    display: none;
    font-size: 18px;
    color: white;
    width: 220px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 10px 10px;
    top: 60px;
    left: -80px;
    z-index: 2;
}

.container_chu_thich_3 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_3:hover .chu_thich_3_tam_giac_nho {
    display: block;
}

.container_chu_thich_3:hover .chu_thich_3 {
    display: block;
}

.chu_thich_3_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 2;
}

.chu_thich_3 {
    display: none;
    font-size: 18px;
    color: white;
    width: 220px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 10px 10px;
    top: 60px;
    left: -80px;
    z-index: 2;
}

.mic_icon {
    width: 40px;
    height: 40px;
    fill: hsl(0, 0%, 30%);
    margin: 16px 10px;
    cursor: pointer;
}

.camera_icon {
    width: 40px;
    height: 36px;
    fill: hsl(0, 0%, 30%);
    margin: 16px 10px;
    cursor: pointer;
}

.che_do_ai {
    width: 160px;
    height: 40px;
    margin-left: 10px;
    margin-top: 16px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.che_do_ai:hover {
    border-width: 3px;
    border-style: solid;
    animation: ai_icon_animation 2s infinite;
}

@keyframes ai_icon_animation {
    0% { border-color: red;}
    25% { border-color: blue;}
    50% { border-color: green;}
    75% { border-color: orange;}
    100% { border-color: red;}
}

.search_ai_icon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    fill: hsl(0, 0%, 30%);
    float: left;
}

.ai_text {
    float: left;
    margin-top: 6px;
    font-size: 24px;
    color: hsl(0, 0%, 30%);
}

main form:hover {
    box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 85%);
    height: 10vh;
}

footer p {
    padding: 10px;
}