* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px 10px;
    height: 10%;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 6px;
}

nav .menu {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

nav .menu svg {
    width: 30px;
    height: 30px;
    fill: hsl(0, 0%, 30%);
    cursor: pointer;
}

nav .menu:hover {
    background-color: hsl(0, 0%, 90%);
}

nav img {
    width: 30px;
    border-radius: 100%;
}

nav a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    height: 30%;
}

header img {
    height: 110px;
    margin-top: 20px;
}

main {
    margin: 0px auto;
    margin-top: 15px;
    flex-grow: 1;
    height: 60%;
}

main form .thanh_tim_kiem {
    display: flex;
    border: 1px rgb(215, 215, 215) solid;
    width: 49vw;
    height: 45px;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 2px 8px hsl(0, 0%, 90%);
}

main form .thanh_tim_kiem img {
    margin-top: 15.5px;
    margin-left: 15.5px;
    height: 13px;
    width: 13px;
}

main form {
    height: auto;
}

main form .thanh_tim_kiem input {
    border: none;
    outline: none;
    width: 29vw;
    height: 43px;
    margin-left: 7px;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 1rem;
}

.keyboard_icon {
    width: 28px;
    height: 22px;
    fill: hsl(0, 0%, 30%);
    margin: 11px 7px;
    cursor: pointer;
}

.container_chu_thich_1 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_1:hover .chu_thich_1_tam_giac_nho {
    display: block;
}

.container_chu_thich_1:hover .chu_thich_1 {
    display: block;
}

.chu_thich_1_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 24px;
    left: 5.5px;
    z-index: 2;
}

.chu_thich_1 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 40px;
    left: -20px;
    z-index: 2;
}

.container_chu_thich_2 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_2:hover .chu_thich_2_tam_giac_nho {
    display: block;
}

.container_chu_thich_2:hover .chu_thich_2 {
    display: block;
}

.chu_thich_2_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 24px;
    left: 3px;
    z-index: 2;
}

.chu_thich_2 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 130px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 40px;
    left: -47px;
    z-index: 2;
}

.container_chu_thich_3 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.container_chu_thich_3:hover .chu_thich_3_tam_giac_nho {
    display: block;
}

.container_chu_thich_3:hover .chu_thich_3 {
    display: block;
}

.chu_thich_3_tam_giac_nho {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 24px;
    left: 5px;
    z-index: 2;
}

.chu_thich_3 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 125px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 40px;
    left: -42px;
    z-index: 2;
}

.mic_icon {
    width: 25px;
    height: 25px;
    fill: hsl(0, 0%, 30%);
    margin: 10px 7px;
    cursor: pointer;
}

.camera_icon {
    width: 28px;
    height: 24px;
    fill: hsl(0, 0%, 30%);
    margin: 11px 7px;
    cursor: pointer;
}

.che_do_ai {
    width: 85px;
    height: 25px;
    margin-left: 7px;
    margin-right: 10px;
    margin-top: 9.5px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.che_do_ai:hover {
    border-width: 1.5px;
    border-style: solid;
    animation: ai_icon_animation 2s infinite;
}

@keyframes ai_icon_animation {
    0% {
        border-color: red;
    }

    25% {
        border-color: blue;
    }

    50% {
        border-color: green;
    }

    75% {
        border-color: orange;
    }

    100% {
        border-color: red;
    }
}

.search_ai_icon {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-left: 5px;
    fill: hsl(0, 0%, 30%);
    float: left;
}

.ai_text {
    float: left;
    margin-top: 6px;
    font-size: 12px;
    color: black;
}

main form .thanh_tim_kiem:hover {
    box-shadow: 0px 0px 12px 1px hsl(0, 0%, 80%);
}

main form .button_container {
    width: 350px;
    margin: 20px 22%;
}

.button_container .tim_tren_gg,
.button_container .xem_trang_dau_tien {
    font-size: 13px;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: hsl(210, 17%, 97%);
    cursor: pointer;
}

.button_container .tim_tren_gg:hover,
.button_container .xem_trang_dau_tien:hover {
    border: 1px hsl(0, 0%, 90%) solid;
    background-color: hsl(210, 17%, 98%);
    box-shadow: 0px 2px 2px hsl(0, 0%, 90%);
}

main .ngon_ngu_ho_tro {
    display: inline-block;
    margin-top: 20px;
    margin-left: 25%;
    color: hsl(0, 0%, 30%);
}

main .ngon_ngu_ho_tro span {
    font-size: 12px;
}

main .ngon_ngu_ho_tro a {
    text-decoration: none;
    font-size: 12px;
    color: hsl(245, 86%, 36%);
}

main .ngon_ngu_ho_tro a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    background-color: hsl(0, 0%, 95%);
    height: 30%;
}

footer p {
    margin-left: 10px;
    font-size: 13px;
    padding: 15px;
}

.footer_dong_1 {
    border-bottom: 1px hsl(0, 0%, 80%) solid;
    width: 100%;
}

.footer_links {
    margin-left: 30px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

footer a:hover {
    text-decoration: underline;
}

.links_ben_trai {
    float: left;
}

.links_ben_phai {
    float: right;
}