* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav img {
    width: 40px;
    border-radius: 100%;
}

nav a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
}

header .Google_Text {
    font-size: 8rem;
}

header #xanh_duong {
    color: blue;
}

header #xanh_la {
    color: green;
}

header #do {
    color: red;
}

header #vang {
    color: yellow;
}

main {
    margin: 0px auto;
    margin-top: 20px;
    flex-grow: 1;
}

main form {
    display: flex;
    border: 1px black solid;
    width: 55vw;
    height: 60px;
    border-radius: 50px;
    margin-top: 20px;
}

main form img {
    margin-top: 16.5px;
    margin-left: 16.5px;
    height: 25px;
    width: 25px;
}

main form input {
    border: none;
    outline: none;
    width: 51.8vw;
    height: 58px;
    margin-left: 15px;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 1.5rem;
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 85%);
    height: 10vh;
}

footer p {
    padding: 10px;
}