* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px 5px;
    height: 65px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
}

nav .menu {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    padding: 8px;
}

nav .menu svg {
    width: 35px;
    height: 35px;
    fill: hsl(0, 0%, 30%);
    cursor: pointer;
}

nav .menu:hover {
    background-color: hsl(0, 0%, 90%);
}

nav .dropdown_menu_container {
    display: none;
    position: absolute;
    top: 65px;
    right: 35px;
    background-color: #e9eef6;
    border: 1px hsl(0, 0%, 80%) solid;
    border-radius: 30px;
    padding: 10px 2px 10px 10px;
    z-index: 3;
    text-align: center;
    overflow-y: auto;
    max-width: 350px;
    max-height: 550px;
}

nav .dropdown_menu_1_container {
    margin-bottom: 5px;
}

nav .dropdown_menu_1_container, nav .dropdown_menu_2_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f8fafd;
    padding-top: 30px;
}

nav .dropdown_menu_1_container {
    border-radius: 25px 25px 5px 5px;
}

nav .dropdown_menu_2_container {
    border-radius: 5px 5px 25px 25px;
}

/* 1. Chỉnh độ rộng của thanh trượt */
nav .dropdown_menu_container::-webkit-scrollbar {
    width: 6px;
}

/* 2. Chỉnh cái rãnh (Track) */
nav .dropdown_menu_container::-webkit-scrollbar-track {
    background: transparent; /* Cho cái rãnh trong suốt để không lẹm vào màu nền */
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* 3. Chỉnh cái cục lăn (Thumb) */
nav .dropdown_menu_container::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 10px; /* Bo tròn 2 đầu cục lăn */
}

/* 4. Hiệu ứng khi di chuột vào cục lăn */
nav .dropdown_menu_container::-webkit-scrollbar-thumb:hover {
    background-color: #bdc1c6;
}

nav .apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 20px 10px;
    padding: 10px 5px;
    height: 88px;
    width: 90px;
    cursor: pointer;
}

nav .apps>p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

nav .apps:hover {
    background-color: #f0f4f9;
    border-radius: 20px;
    min-height: 88px;
    height: auto;
}

nav .apps:hover>p {
    overflow: visible;
    white-space: normal;
}

nav .apps>img {
    height: 35px;
    width: 35px;
    margin-bottom: 15px;
    border-radius: 0;
}

nav .dropdown_menu_container p>a {
    text-decoration: none;
    color: #0B57D0;
}

nav .dropdown_menu_container button {
    color: #0B57D0;
    padding: 12px 15px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: transparent;
    margin: 20px 0px 12px 0px;
    cursor: pointer;
}

nav .dropdown_menu_container button:hover {
    border: 1px hsl(217, 100%, 70%) solid;
    background-color: whitesmoke;
    box-shadow: none;
    cursor: pointer;
}

nav button {
    color: white;
    padding: 12px 15px;
    border: 1px transparent solid;
    border-radius: 20px;
    background-color: #0B57D0;
    cursor: pointer;
}

nav button:hover {
    background-color: hsl(217, 90%, 47%);
    box-shadow: 0px 2px 2px hsl(0, 0%, 60%);
}

nav img {
    width: 30px;
    border-radius: 100%;
}

nav>a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
}

header img {
    height: 120px;
    margin-top: 20px;
}

main {
    margin: 0px auto;
    margin-top: 15px;
    flex-grow: 1;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main form .search_bar {
    display: flex;
    border: 1px rgb(215, 215, 215) solid;
    width: 688px;
    height: 50px;
    max-width: 90%;
    border-radius: 50px;
    margin-top: 20px;
    box-shadow: 0px 2px 8px hsl(0, 0%, 90%);
}

main form .search_bar img {
    margin-top: 18px;
    margin-left: 15.5px;
    height: 13px;
    width: 13px;
}

main form {
    height: auto;
}

main form .search_bar input {
    border: none;
    outline: none;
    height: 48px;
    flex-grow: 1;
    margin-left: 7px;
    padding: 5px 5px;
    border-radius: 50px;
    font-size: 1.5rem;
}

.keyboard_icon {
    width: 28px;
    height: 22px;
    fill: hsl(0, 0%, 30%);
    margin: 13px 7px;
    cursor: pointer;
}

.note_1_container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.note_1_container:hover .note_1_triangle {
    display: block;
}

.note_1_container:hover .note_1 {
    display: block;
}

.note_1_triangle {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 26px;
    left: 5.5px;
    z-index: 2;
}

.note_1 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 80px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 41px;
    left: -20px;
    z-index: 2;
}

.english_page .keyboard_icon {
    display: none;
}

.france_page .keyboard_icon {
    display: none;
}

.chinese_page .keyboard_icon {
    display: none;
}

.note_2_container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.note_2_container:hover .note_2_triangle {
    display: block;
}

.note_2_container:hover .note_2 {
    display: block;
}

.note_2_triangle {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 26px;
    left: 3px;
    z-index: 2;
}

.note_2 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 130px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 41px;
    left: -47px;
    z-index: 2;
}

.english_page .note_2 {
    width: 87px;
    left: -28px;
}

.france_page .note_2 {
    width: 140px;
    left: -53px;
}

.chinese_page .note_2 {
    width: 50px;
    left: -5px;
}

.note_3_container {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.note_3_container:hover .note_3_triangle {
    display: block;
}

.note_3_container:hover .note_3 {
    display: block;
}

.note_3_triangle {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid black;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    top: 26px;
    left: 5px;
    z-index: 2;
}

.note_3 {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    width: 125px;
    height: auto;
    background-color: black;
    position: absolute;
    padding: 5px 5px;
    top: 41px;
    left: -42px;
    z-index: 2;
}

.english_page .note_3 {
    width: 90px;
    left: -26px;
}

.france_page .note_3 {
    width: 112px;
    left: -38px;
}

.chinese_page .note_3 {
    width: 50px;
    left: -5px;
}

.mic_icon {
    width: 25px;
    height: 25px;
    fill: hsl(0, 0%, 30%);
    margin: 12px 7px;
    cursor: pointer;
}

.camera_icon {
    width: 28px;
    height: 24px;
    fill: hsl(0, 0%, 30%);
    margin: 13px 7px;
    cursor: pointer;
}

.ai_mode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 30px;
    margin-left: 7px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.ai_mode:hover {
    border-width: 1.5px;
    border-style: solid;
    animation: ai_icon_animation 2s infinite;
}

@keyframes ai_icon_animation {
    0% {
        border-color: red;
    }

    25% {
        border-color: blue;
    }

    50% {
        border-color: green;
    }

    75% {
        border-color: orange;
    }

    100% {
        border-color: red;
    }
}

.ai_search_icon {
    width: 20px;
    height: 20px;
    width: 20px;
    height: 20px;
    fill: hsl(0, 0%, 30%);
    margin-right: 5px;
}

.ai_text {
    color: black;
}

main form .search_bar:hover {
    box-shadow: 0px 0px 12px 1px hsl(0, 0%, 80%);
}

main form .button_container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button_container .search_on_google,
.button_container .first_page {
    padding: 10px 15px;
    margin: 5px;
    margin-top: 15px;
    border: 1px transparent solid;
    border-radius: 5px;
    background-color: hsl(210, 17%, 97%);
    cursor: pointer;
}

.button_container .search_on_google:hover,
.button_container .first_page:hover {
    border: 1px hsl(0, 0%, 90%) solid;
    background-color: hsl(210, 17%, 98%);
    box-shadow: 0px 2px 2px hsl(0, 0%, 90%);
}

main .support_language {
    margin-top: 40px;
    color: hsl(0, 0%, 30%);
}

main .support_language a {
    text-decoration: none;
    color: hsl(245, 86%, 36%);
}

main .support_language a:hover {
    text-decoration: underline;
}

footer {
    display: block;
    background-color: hsl(0, 0%, 95%);
    height: 30%;
}

footer p {
    font-size: 15px;
    margin-left: 15px;
    padding: 15px;
}

.line_1_footer {
    border-bottom: 1px hsl(0, 0%, 80%) solid;
    width: 100%;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

footer a, footer .settings_text {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    cursor: pointer;
}

footer a:hover, footer .settings_text:hover {
    text-decoration: underline;
}

footer .settings {
    position: relative;
    display: inline-block;
}

footer .settings_menu_container {
    display: none;
    position: absolute;
    min-width: 235px;
    bottom: 45px;
    right: 0px;
    padding-top: 7px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 8px hsl(0, 0%, 70%);
    border-radius: 7px;
    z-index: 4;
    text-align: left;
}

footer .settings_menu_container a, .dark_mode_off, .dark_mode_on {
    padding: 8px 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .settings_menu_container a:hover, .dark_mode_settings:hover {
    background-color: hsl(0, 0%, 95%);
    text-decoration: none;
    cursor: pointer;
}

footer .settings_menu_container .dark_mode_settings:hover .dark_mode_off>.sun_icon {
    display: flex;
}

footer .settings_menu_container .dark_mode_settings:hover .dark_mode_on>.moon_icon {
    display: flex;
}

footer .settings_menu_container .dark_mode_settings {
    border-top: 1px hsl(0, 0%, 80%) solid;
    padding: 8px 0px;
    line-height: 25px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 10,
  'wght' 300,
  'GRAD' 0,
  'opsz' 14;
}

footer .settings_menu_container .dark_mode_settings .dark_mode_off>.sun_icon, footer .settings_menu_container .dark_mode_settings .dark_mode_on>.moon_icon {
    display: none;
    color: hsl(0, 0%, 50%);
}

footer .settings_menu_container .dark_mode_settings .dark_mode_on {
    display: none;
}